.main {
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: cover;
  min-height: 20px;
}
.section1{
  padding-top: 100px;
}
.section1 h1{
  margin-bottom: 30px;
}
.productcardcontainer {
  width: 98%;
  height: 100%;
  
}

.recipecardcontainer {
    width: 98%;
    height: 100%;
    /* height: 700px; */
    background-color: rgb(254, 255, 255);
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 11%);
    padding-bottom: 0px;
    padding-top: 0px;
    padding-top: 10px;
}

@media screen and (max-width: 900px) {
.main {
  min-height: 30px;
}
.cardcontainer{
  height: 330px;
  padding-top: 10px;
}
.recipecardcontainer {
    width: 98%;
    height: 100%;
    padding-top: 40px;
    background-color: rgb(254, 255, 255);
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
    padding-bottom: 10px;
    padding-top: 0px;
  }
.recipecontainer {
    height: 260px;
    color: #000;
}
}

@media screen and (max-width: 600px) {
.section1{
  padding-top: 90px;
}
.productcardcontainer {
  margin-top: 0px;
   width: 98%;
  height: 100%;
  background-color: rgb(254, 255, 255);
  margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: .5rem;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
  padding-bottom: 30px;
  padding-top: 10px;
  
}
.cardcontainer{
  height: 290px;
}

.card{
  margin-bottom: 0px;
}

  .recipecardcontainer {
    width: 98%;
    height: 100%;
    padding-top: 40px;
    background-color: rgb(254, 255, 255);
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .recipecontainer {
    height: 190px;
    color: #000;
  }
}
