.main {
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: cover;
}
.section1{
  padding-top: 100px;
}
.section1 h1{
  margin-bottom: 30px;
}
.recipecardcontainer {
  width: 98%;
  height: 100%;
  padding-top: 10px;
}



@media screen and (max-width: 600px) {
.section1{
  padding-top: 120px;
}
.productcardcontainer {
  margin-top: 0px;
   width: 98%;
  height: 100%;
  background-color: rgb(254, 255, 255);
  margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
  padding-bottom: 30px;
  padding-top: 0px;
  
}
.recipecontainer{
  height: 190px;
}
.card{
  margin-bottom: 100px;
}
}
