.main{
    background-image: none;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}

.sction1{
    width: 80%;
    height: calc(100vh  - 180px);
     margin-top: 115px;
     display: inline-flex;
     justify-content: space-between;
     background-color: rgb(255, 255, 255);
     border-radius: 5px;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.253);
     padding: 20px;
     transition: .5s;
     
}
.sction1:hover{
    transition: .5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.342);
}

.sction1child1{
    height: 100%;
    width: 45%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(218, 218, 218));
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    transition: .5s;
}
.sction1child1:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.349);
    transition: .5s;
}
.sction1child1:hover img{
    transition: .9s;
     height: 70%;
}
.sction1child1 img{
    transition: .9s;
    height: 65%;
}

.sction1child2{
    width: 52%;

}

.sction1child2 h1{
    font: 24px sans-serif;
    margin-top: 10px;
    border-bottom: 1px solid tomato;
    padding-bottom: 10px;
}

.desc p{
    margin-top: 20px;
    margin-right: 5%;
    font: 13px sans-serif;
    text-align: justify;
    color: rgb(156, 156, 156);
}
.desc2{
    margin-top: 20px;
    border:1px solid tomato;
    border-radius: 5px;
    padding: 20px; 
}
.desc2part1{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid tomato;
    font: 1em sans-serif;

}

.desc2part2{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-top: 20px;
    font: 1em sans-serif;

}
.priceandcart{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid tomato;

}
.price{
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-family: sans-serif;
}
#dprice{
    color: tomato;
}
#cprice{
    font-size: 16px;
    text-decoration:line-through;
    color: rgb(148, 148, 148);
}
#descount{
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.cart a{
    font: 1em sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.178);
    transition: .5s;
}
.cart a:hover{
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.295);
    transition: .5s;
    margin-right: 5px;
    
}
.buy{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buy a{
    font: 1em sans-serif;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    color: rgb(255, 255, 255);
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.178);
    transition: .4s;
}
.buy a:hover{
    font: 1em sans-serif;
    text-decoration: none;
    padding: 10px 34px 10px 34px;
    color: rgb(255, 255, 255);
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.315);
    transition: .4s;
}

.section1{
    overflow: hidden;
    margin-bottom: 10px;
}

.section1 h1{
    margin-bottom: 20px;
    
}

.section2{
    width: 100%;
    margin-top: 30px;
}
.section2child1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
}
#section2child1h1{
    color: tomato;
}
.section2child1 span{
    border: 1px solid tomato;
    width: 20%;
}
.section2child2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 50px;
}
.section2img{
    width: 160px;
    transition: .5s;
}
.section2img:hover{

    transition: .5s;
    margin-top: 5px;
}

.section2img img{
    height: 100px;
}
.section2img p{
    margin-top: 20px;
    text-align: center;
}



@media screen and (max-width: 600px) {
.main{
     height: 100%;
     padding-bottom: 20px;
}
.sction1 {
    margin-top: 120px;
    flex-direction: column;
    height: 100%;
    justify-content: start;
}
.sction1child1{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.imgrediantslist p{
}
.sction1child2{
    width: 100%;
}
.section2child2 {
  padding-left: 1%;
  /* gap: 10px; */
}
.ingwredianscart h2{
    font-size: 17px;
}
.ingwredianscart a{
    font-size: 10px;
}
 .section2child1 h2 {
    font-size: 15px;
  }
.imgrediants{
    padding-right: 0px;
}
.prcesslist{
    width: 90%;
    nav-right: 0px;
    text-align: justify;
}
.prcesslist h1{
    font-size: 15px;
}
.prcesslist p{
    font-size: 15px;
}
.section3heading h1{
    font-size: 20px;
}
.prcesslist ul li {
  font: 14px sans-serif;
  color: rgba(255, 99, 71, 0.692);
  margin-bottom: 10px;
}
.section2child2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    /* gap: 10px; */
  }

}